{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- CSS Effect -->

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="response-container">
  <a href="{% url 'landing' %}" style="text-decoration: none;"><h1>Home</h1></a>
</div>

<!-- margin-top -->

<br>
<br>


<!-- card -->
<div class="container is-max-desktop">
  <div class="card" style='width:400px; margin:0 auto;'>
    <div class="card-image">
      <figure class="image">
        <img src="{{ img }}" alt="Attraction image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ name }}</p>
          <p class="subtitle is-6">{{ place }}</p>
        </div>
      </div>
      <div class="content">
        {{ explanation }}
      </div>
      <!-- Comment Write -->
      <div>
        <form name="comment" action="{% url 'contents:postComment' %}" method="get">
          <div class="field">
            <label class="label">댓글</label>
            <div class="control">
              <input name="q" type="text" class="input" placeholder="댓글을 작성해주세요.">
            </div>
            <div class="control" style="display:none">
              <input name="p" type="text" class="input" placeholder="댓글을 작성해주세요." value={{identity}}>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">작성</button>
            </div>
          </div>
        </form>
       <!-- Comment Write End -->
       <!-- Comment View -->
       <div style="overflow:auto; height:150px;">
        {% for list in listVar %}
          <div class="card">
            <div class="card-content">
              <p>{{list}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p>{{list}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p>{{list}}</p>
            </div>
          </div>
        {% endfor %}       
       </div>
       <!-- Comment View End -->
      </div>
    </div>
  </div>
</div>

<!-- floating button -->

<form action="{% url 'contents:show' 1 %}">
  <div class="control" style="display:none">
    <input name="value" type="text" class="input" placeholder="댓글을 작성해주세요." value="999">
  </div>
  <button class="button is-warning floating" 
          style="position:fixed;
                width:60px;
                height:60px;
                bottom:40px;
                right:40px;
                border-radius:50px;
                text-align:center;
                box-shadow: 2px 2px 3px #999;">
      <img src="{% static 'images/reload.svg' %}">
    </button>
  </form>



{% endblock %}