{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- margin-top -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- card -->

<div class="container is-max-desktop">
  <div class="card" style='width:400px; margin:0 auto;'>
    <div class="card-image">
      <figure class="image">
        <img src="{{ img }}" alt="Attraction image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ name }}</p>
          <p class="subtitle is-6">{{ place }}</p>
        </div>
      </div>
      <div class="content">
        {{ explanation }}
      </div>
    </div>
    <!-- 댓글 -->    
    <form action="#" method="POST">
      {% csrf_token %}
      <textarea id="comment-input-{{identity}}" class="form-control col-ll mr-2" name="content" placeholder="댓글 내용 입력"></textarea>
      <input type="submit" data-token="{{ csrf_token }}" data-content-identity="{{ identity }}" data-content-object="{{ data }}" class="btn btn-primary create-comment-button" value="확인">
    </form>
    <div class="comment-list">
      {% for comment in comments %}
        <li>
          {{ message }}
        </li>
      {% endfor %}
    </div>  </div>
</div>
<!-- floating button -->

<a href="{% url 'contents:contents' %}">
  <button class="button is-warning floating" 
          style="position:fixed;
                width:60px;
                height:60px;
                bottom:40px;
                right:40px;
                border-radius:50px;
                text-align:center;
                box-shadow: 2px 2px 3px #999;">
      <img src="{% static 'images/reload.svg' %}">
    </button>
</a>



{% endblock %}