{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="about-wrap">

    <div class="about-photo" style="display:inline;">
        <img src="{% static 'images/character.png'%}" style="height: 58vh; width: 35vh; margin-left: ; margin-top: 6%;  float:left;">
    </div>

    <div class="about-info" style="display:inline-block;">
        <h1>About</h1>
        <div class="about-info1">
            
            <div>
                <div class="about-card">
                <h1>롯데월드에서 뭐하고 놀지?</h1><hr style="margin-top:0"/>
                <p> #
                </p>
                
                </div>
            </div>    
         </div>


         <div class="about-info2" style="margin-top: 10%;">
                <h1>Developers</h1>
                <div>
                    <div class="about-card">
                    <h1> 강협 장영동 최현지 신주연</h1>
                    </div>
                </div>  
        </div>
    </div>

    

</div> -->


{% endblock %}


