@charset "utf-8";

li{list-style :none;}
a{text-decoration : none;}

/* Legacy */

/*.box_size{
    width: 500px;
    height: 500px;
    display: block;
    margin-top: 50px;
}

.photo_size{
    height: 30%;
    text-align:center;
}

.content_ps{
    text-align: center;
    margin-top: 150px;
    font-family: 'Noto Serif KR', serif;
}

.comment_input{
    width:500px;
    margin: 20px auto 30px;
    padding: 1px;
}

.comment_size{
    width: 500px;
    margin:20px auto 30px;
    padding-left:0px;
} */