{% load static %}
<div class="deviceFrame" >
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>Ideathon</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bulma -->
        <link rel="stylesheet" href="static/bulma/css/bulma.min.css">
        <!-- Media Sizing (for Web ver) -->
        <link rel="stylesheet" media = "(min-width: 376px)" href="static/css/media.css">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    </html>
</div>